.footerFront{
	width : 100%;
	text-align:center;
	position:fixed;
	bottom:0px;
	padding-top:2px;
	padding-bottom:10px;
	background-color:white;
	margin: auto;
}

.container-marging{
	margin: auto;
}

.tab{
	width: 10%;	
	display: block;
}

.hero_unit_lite{
	background-color: #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 5px;
}

.bs-docs {
  position: relative;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  *padding-top: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.bs-docs-titre {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.inputblockspaceup{
	margin-top: 5px;
}

.blueLu{
	background-color: #C0DCC0;
}

.a_white{
	color:#D8D8D8;
}

.a_white:hover{
	color:#D8D8D8;
}

.a_white:active{
	color:#D8D8D8;
}

.a_black{
	color:black;
}

.a_black:hover{
	color:black;
}

.a_black:active{
	color:black;
}


.buttonListConversation{
	text-align: left;
}

.displayinine{
	display: inline-block;
}

.btnsizepixel{
	height: 40px;
}

.ui-autocomplete {
	z-index:100;
  	background: #EFEFFB;
  	width: 100px;
}


.btnConversation {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: left;
/* 	white-space: nowrap; */
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btnConversation:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btnConversation:hover, .btnConversation:focus {
	color: #333;
	text-decoration: none
}

.btnConversation:active, .btnConversation.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btnConversation.disabled, .btnConversation[disabled], fieldset[disabled] .btnConversation {
	pointer-events: none;
	cursor: not-allowed;
	opacity: .65;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none
}


.alert-grey{
	background: #F5F5E5;
}